.all{
    height: 800px;
    width: 1200px;
    background-color: rgb(251, 251, 251);
    border: 5px solid black;
    position: relative;
}

.r1{
   height: 250px;
   width: 500px;
   background-color: gray;
   border: 5px solid black;
   position: relative;
   left: 300px;
   top: 100px;
}

.con{
    text-align: center;
    font-weight: bold;
    font-size: large;
}

.r2{
    height: 500px;
    width: 200px;
    background-color: gray;
    border: 5px solid black; 
    position: relative;
    left: 950px;
    bottom: 150px;
}

.con2{
    text-align: center;
    font-weight: bold;
    font-size: large;
}


.c1,.c2,.c3{
    height: 100px;
    width: 100px;
    border-radius: 100px;
    position: absolute;;
} 
.c1{
    background-color: rgb(24, 123, 209);
    top: 140px;
    left: 20px;
}

.cc{
    text-align: center;
    font-weight: bold;
    font-size: large;
}

.c2{
    background-color: red;
    top: 260px;
    left: 20px;
}

.cc2{
    text-align: center;
    font-weight: bold;
    font-size: large;
}
.c3{
    background-color: gray; 
    top:380px;
    left: 20px;
}

.cc3{
    text-align: center;
    font-weight: bold;
    font-size: large;
}

.b1,.b2{
    position: relative;
    bottom: 150px;
    left: 500px;
    padding: 10px 10px;
    border-radius: 100px;
}

.i{
    position: relative; 
    bottom: 500;
    left: 500;
}
