#main-frame{
    margin: auto;
    width: 50%;
    height: 100%;
    border: 3px solid blue;
    padding: 20px;
}

#process-table, #btn1, .btn, section{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn1{
    align-items: center;
}

.btn{
    margin: auto;
    padding: 15px 25px;
}

.btn2{
    border-radius: 12px;
    font-size: 16px;
    background-color: dodgerblue;
    color: white;
}

.btn3, .btn{
    background-color: dodgerblue;
    color: white;
}

.btn3:hover, .btn:hover{
    background-color: mediumblue;
}
h2{
    text-align: center;
}

th, td {
    text-align: center;
}

input {
    text-align: center;
}

